<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/Following.js" type="text/javascript"></script>
    <script src="/js/profMovies.js" type="text/javascript"></script>
    <script src="/js/starMovies.js" type="text/javascript"></script>
  </body>
</html>
